
<app-navbar></app-navbar>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>

<app-add-framework *ngIf="isAdd" (onAdd)="addFramework($event)">  
</app-add-framework>  

<div class="container-lg" *ngIf="isList">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Framework List</h2></div>
                    <div class="col-sm-4">
                        <button (click)="makeIsAddTrue()"  type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Framework ID</th>
                        <th>Framework Name</th>
                        <th>Framework version</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let fr of frameworks">
                    <tr>
                        <td>{{ fr.id}}</td>
                        <td>{{ fr.name }}</td>
                        <td>{{ fr.version }}</td>
                        <td style="width: 300px;">
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit"  (click)="makeIsEditTrue()"title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" (click)="deleteFramework(fr)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                           <button id="detail">view</button>
                          
                        </td>
                    </tr>
                    
                       
                </tbody>
            </table>
        </div>
    </div>
</div>  
 

</html>




<div id="gapp"></div>
<app-footer></app-footer>
