#gapp{
    margin-bottom: 8%;
}

#gap-top{
    margin-top: 6%;
}

#add-form{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

#heading{
    text-align: center;
    font-weight: bold;
}